@import "tailwindcss";

/* :root {
    --font-size: 16px;

    --card: #fff;
    --card-foreground: #0f172a;
    --popover: #fff;
    --popover-foreground: #0f172a;
    --primary: #2563eb;
    --primary-foreground: #fff;
    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --accent: #10b981;
    --accent-foreground: #fff;
    --destructive: #ef4444;
    --destructive-foreground: #fff;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --input-background: #fff;
    --switch-background: #cbd5e1;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --ring: #2563eb;
    --chart-1: #2563eb;
    --chart-2: #10b981;
    --chart-3: #f59e0b;
    --chart-4: #8b5cf6;
    --chart-5: #ec4899;
    --radius: .75rem;
    
    --sidebar-accent: #f1f5f9;
    --sidebar-accent-foreground: #0f172a;
    
    --sidebar-ring: #2563eb;
} */


@theme {
    /* Background and primary color */
    --color-background: #f8fafc;
    --color-foreground: #0f172a;
    --color-primary: #2563eb;

    /* Sidebar color */
    --color-sidebar: #fff;
    --color-sidebar-foreground: #0f172a;
    --color-sidebar-primary: #2563eb;
    --color-sidebar-primary-foreground: #fff;
    --color-sidebar-border: #e2e8f0;
}